*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__taskList{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end; /*because reverse*/
    gap: 3px;
}

