.body{
    background-color: #f3f4f5;
}
.title{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.pr{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #757575;
}