*{
    margin:0;
    padding: 0;
}

img{
    width: 100px;
    height: 100px;
    margin: 5px;
}

.container{
   width: 100vw; /*habias puesto imagenes más grandes que el contenedor (por los másrgenes*/
   height: 100px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}