:root{
    /*Escribe aquí tu código*/
    --color-title-subt: grey;
    --color-link: green;
  }
  
  
  body {
    margin:0;
  }
  
  header{
    background-color:#eaeaea;
    padding:20px
  }
  
  main{
    padding:20px
  }
  
  p{
    width:50%;
    font-size: 16px
  }
  
  ul{
    list-style-type:none;
    padding:0
  }
  
  .title{
    color: var(--color-title-subt);
    margin:0
  }
  
  .subtitle{
    color: var(--color-title-subt);
    margin:0
  }
  
  .menu li {
    display:inline
  }
  
  .menu a {
    color: var(--color-link);
    text-decoration:none
  }
  
  p a {
    color: var(--color-link);
  }
  
  