/*#dni {
    ^[0-9] {
        7
    }

    [a-zA-Z] {
        1
    }

    $
} Preguntar por RegExp*/

input,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}