*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenido{
    max-width: 600px;
    width: 100vw;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.mito{
    text-align: center;
}

.titulo{
    padding-bottom: 5%;
}

.cabecera{
    position: relative;
    left: 20%;
    max-width: 600px; /*u ocupa toda la pantalla o "mi blog" y "barra-nav" quedan en su sitio :C*/
    width:100vw;
    height: 10vh;
    background-color: black;
    color: white;
    /*display: flex
    flex-direction:row
    width: 100%
    justify-content: space-evenly
    align-items: center*/
}

.barra-nav{
    display: inline-block;
    position: relative;
    left:55%;
    bottom: 5%;
    max-width: 300px;
    width: 100vw;
    padding-top: 3%;
    /*display: flex
    flex-direction:row
    column-gap*/
}

ul{
    text-decoration: none;
}

li{
    display: inline-block;
    padding: 1%;
}

.mi-blog{
    display: inline-block;
    position: relative;
    left: 1%;
    max-width: 100px;
    border: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-top:3%;
    font-size: 1.5em;
}

.fecha{
    display: inline-block;
    position: relative;
    left:80%;
    bottom: 5%;
    max-width: 300px;
    width: 100vw;
    padding-bottom:5%;
}
.ovidio{
    display: inline-block;
    max-width: 300px;
    border: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-bottom:5%;
}

.pie{
    max-width: 600px;
    position: fixed;
    bottom: 0;
    background-color: white; /*solo se lo pone a copy :(*/
}

.copy{
    display: inline-block;
    position: relative;
    left: 45%;
    max-width: 300px;
    border: 0;
    margin: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-bottom:5%;
    padding-top: 5%;
    font-size: 0.8em;
}

.redes{
    display: inline-block;
    position: relative;
    left:85%;
    bottom: 5%;
    max-width: 300px;
    width: 100vw;
    padding-bottom:5%;
    padding-top: 5%;
    font-size: 0.8em;
}
/*se supone que el ejercicio tiene flexbox y no lo estoy usando, socorro*/


.aviso{
    position: fixed;
    width: 100vw;
   height: 100vh;
    background-color: black;
    opacity: 0.3;
    z-index: 990;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mensaje{
    position: relative;
    background-color: white;
    width: 40%;
    height: 50%;
    opacity: 1; /*problema con la opacidad*/
    text-align: center;
    z-index:999;
    
}

.hola{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.newsletter{
    text-align: center;
    margin-top: 10%;
}

.rechazar{
    position: relative;
    top: 20%;
    border-radius: 10%;
    margin-right: 10%;
}

.suscribirse{
    position: relative;
    top: 20%;
    border-radius: 10%;
    background-color: black;
    color: white;
    margin-left: 10%;
}