*{
    box-sizing: border-box;
    margin: 5%;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table{
    text-align: center;
    border-style: dotted;
}

.fila{
    padding: 10%;
}
td{
    padding: 3%;
    border-style: dotted;
    min-width: 120px;
}

th{
    min-width: 120px;
}